#main {
  height:100%;
}

#map {
  height: 100%;
  pointer-events:auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto','sans-serif';
}

div#disqus-container {
  position: absolute;
  height: 251px;
  width:calc(100% - 60px);
  font-size: 14px;
  font-weight: 300;
  bottom: 23px;
  left: 10px;
  z-index: 20;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  display: none;
  box-shadow: 0px 0px 3px #888888;
  background: rgba(255,255,255,0.9);
  overflow: scroll;
}

div#info-container {
  position: absolute;
  padding: 15px;
  height: 251px;
  width:calc(100% - 60px);
  font-size: 14px;
  font-weight: 300;
  bottom: 23px;
  left: 10px;
  z-index: 15;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  display: none;
  box-shadow: 0px 0px 3px #888888;
  background: rgba(255,255,255,0.9);
  overflow: scroll;
}

div#transaction-container {
  position: absolute;
  height: 251px;
  width:calc(100% - 60px);
  font-size: 14px;
  font-weight: 300;
  bottom: 23px;
  left: 10px;
  z-index: 10;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  display: none;
  pointer-events:none;
}

div#summary-container {
  box-shadow: 0px 0px 3px #888888;
  background: rgba(255,255,255,0.8);
  height: 251px;
  width: 220px;
  padding: 0;
  pointer-events:auto;
  display: inline-block;
}

div#transactions-summary {
  display: inline-block;
  padding-left: 10px;
  line-height: 20px;
  width: 80%;
  height: 100%;
  float: none !important;
  overflow: hidden;
}


.menu-btn {
  float: left;
  font-weight: 300;
  margin-top: 10px;
  border: none;
  background: white;
  color: rgba(0,0,0,0.6);
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  width: 29px;
}

.menu-btn i {
  font-size: 19px;
  padding: 5px;
}

.menu-btn:hover {
  text-decoration: none;
  background: rgb(235, 235, 235)!important;
}

.menu-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  outline: 0;
  background: #D3D3D3;
}

.menu-btn:active {
  opacity: .75;
}

#pac-input {
  width: 400px;
  height: 29px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  margin-top: 10px;
  margin-left: 10px;
  border: 0;
  text-indent: 10px;
  font-size: 11px;
  font-family: 'Roboto', 'Arial', 'sans-serif';
}

#pac-input:hover {
  text-decoration: none;
}

#pac-input:focus {
  -webkit-box-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  outline: 0;
}

#transactions-btn {
  height: 251px;
  float: right;
  font-weight: 300;
  border: none;
  background: rgba(0,0,0,0.3);
  font-size: 13px;
  color: white;
  padding: 0;
}

#transactions-btn:hover {
  text-decoration: none;
  background: rgba(0,0,0,0.5);
}

#transactions-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

#transactions-btn:active {
  opacity: .75;
}

#transactions-table {
  display: none;
  height: 251px;
  width:calc(100% - 220px);
  box-shadow: 0px 0px 3px #888888;
  background: rgba(255,255,255,0.8);
  pointer-events:none;
  padding: 0;
  position: absolute;
}

#preload-icons {
  opacity: 0;
  position: absolute;
}

.t-background {
  background: none;
}

.t-header {
  background: white;
  font-weight: 400;
  font-family: 'Roboto','sans-serif';
}

.t-font {
  font-family: 'Roboto','sans-serif';
  font-weight: 300;
}

.t-hover {
  background: rgba(0,0,0,0.3);
}

