<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UK Property Transactions</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
        <script type="text/javascript" src="{% static 'main/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'main/gmap.js' %}"></script>
    </head>
    <body>
        <div id="map"></div>
        <div id="infobox"></div>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOoJ44GOthwGKGfQWqZAiD9izH1R2BYak&callback=initMap">
        </script>
    </body>
</html>