<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UK Property Transactions</title>
        {% load static %}
        <link rel="icon" href="{% static 'main/map_icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap.min.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="{% static 'main/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'main/lodash.min.js' %}"></script>
        <script src="{% static 'main/gmap.js' %}"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-69686419-2', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div id="preload-icons">
            <i class='material-icons'>keyboard_arrow_left</i>
            <i class='material-icons'>keyboard_arrow_right</i>
        </div>
        <div id="main">
            <div id="map"></div>
            <div class="container-fluid" id="menu-bar">
                <button class='menu-btn' id='info-btn' type='button'>
                    <i class='material-icons'>info_outline</i>
                </button>
                <button class='menu-btn' id='comment-btn' type='button'>
                    <i class='material-icons'>comment</i>
                </button>
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            </div>
            <div class="container-fluid" id="transaction-container"></div>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZTv6rwoUGwJMTDxgpr2FIvPgfLtzRgxA&libraries=places&callback=initMap">
            </script>
            <div class="container-fluid" id="disqus-container">
                    <div id="disqus_thread"></div>
            </div>
            <div class="container-fluid" id="info-container">
                About this app <br/>
            </div>
        </div>
        <script>
            var disqus_config = function () {
                this.page.url = 'https://uk-property-map.appspot.com';
                this.page.identifier = 'main';
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://uk-property-map.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </body>
</html>